[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v5.x-branch-binary

[submodule "common/freestanding-headers"]
	path = common/freestanding-headers
	url = https://github.com/mintsuki/freestanding-headers.git
